<center style="width: 100%; background-color: #f5f6fa;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#f5f6fa">
        <tr>
            <td style="padding: 40px 0;">
                <table style="width:100%;max-width:620px;margin:0 auto;">
                    <tbody>
                    <tr>
                        <td style="text-align: center; padding-bottom:25px">
                            <a href="{{app_frontend_url}}">
                                <img style="height: 40px"
                                             src="{{app_logo_url}}" alt="logo"></a>
                            <p style="font-size: 14px; color: #6576ff; padding-top: 12px;">{{app_desc}}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="width:100%;max-width:620px;margin:0 auto;background-color:#ffffff;">
                    <tbody>
                    <tr>
                        <td style="text-align:center;padding: 30px 30px 15px 30px;">
                            <h2 style="font-size: 18px; color: #5B8525; font-weight: 600; margin: 0;">Changed Password</h2>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;padding: 0 30px 20px">
                            <p style="margin-bottom: 10px;">Hi {{full_name}},</p>
                            <p style="margin-bottom: 15px; color: #526484; font-size: 16px;">
                                This is to confirm that your password has been changed!<br/>
                                Please report this action immediately if you did not reset the password.<br/>
                            </p>
                            <p style="margin-bottom: 15px;">You can now <a href="{{app_frontend_url}}/login">Login</a>.</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="width:100%;max-width:620px;margin:0 auto;">
                    <tbody>
                    <tr>
                        <td style="text-align: center; padding:25px 20px 0;">
                            <p style="font-size: 13px;">Copyright © {{year}} {{app_name}}. All rights
                                reserved.</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</center>